<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% @menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <strong>名称：</strong>
    <%= f.text_field :name, maxlength: 50 %>
  </p>
  <P>
    <div class="img img--l <%= @menu.image_css_class %>"></div>
  </P>
  <p>
    <strong>価格：</strong>
    <%= f.number_field :price %>
  </p>
  <p>
    <strong>在庫：</strong>
    <%= f.number_field :stocks %>
  </p>
  <%= f.submit %>
  <br>
  <br>

<% end %>
